body{
  background: url('C:/Angular-20(intership)/Gym-Sub-Management/src/assets/image/gym.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.subscription-page{
  padding: 30px;
  display: grid;
  gap: 20px;
}

.title{
  text-align: center;
  color: #e31919;
  font-size: 28px;
}

.plans{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

/* PLAN CARDS */
.plan-card{
  background: rgba(255,255,255,.8);
  padding: 20px;
  border-radius: 16px;
  backdrop-filter: blur(8px);
  box-shadow: 0 10px 30px rgba(0,0,0,.25);
  transition: 0.4s;
}

.plan-card:hover{
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 20px 35px rgba(0,0,0,.4);
}

.price{
  text-align:center;
  font-size: 22px;
  font-weight: bold;
}

button{
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #128c7e;
  color: #fff;
}

button:hover{
  background:#0a6c5f;
}

/* PLAN COLORS */
.basic{ border-left: 6px solid #4caf50; }
.standard{ border-left: 6px solid #2196f3; }
.premium{ border-left: 6px solid gold; }

/* FORM */
.subscribe-form, .list-card{
  background: rgba(255,255,255,.85);
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,.25);
}

.sub{
  display:flex;
  gap:10px;
  margin-top:8px;
}

.badge{
  padding:6px 10px;
  border-radius:20px;
  background:#25d366;
  color:#fff;
}
.info-section{
  margin-top: 30px;
  background: rgba(255,255,255,.85);
  padding: 25px;
  border-radius: 14px;
  backdrop-filter: blur(8px);
}

.info-section h2{
  text-align: center;
  margin-bottom: 10px;
}

.info-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  margin-top: 15px;
}

.info-card{
  padding: 15px;
  border-radius: 12px;
  background: #ffffffdd;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
  transition:.3s;
}

.info-card:hover{
  transform: translateY(-6px);
}

/* .offer-box{
  background: linear-gradient(135deg,#ff512f,#dd2476);
  color:#fff;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: glow 2s infinite alternate;
}

.offer-box span{
  font-weight: bold;
}

.offer-box button{
  background:#fff;
  color:#dd2476;
  border:none;
  border-radius: 20px;
  padding:8px 16px;
  cursor:pointer;
} */

@keyframes glow{
  from { box-shadow: 0 0 10px #ff6fa8; }
  to   { box-shadow: 0 0 35px #ff2d8d; }
}
.gym-footer{
  margin-top: 25px;
  padding: 20px;
  background: rgba(0,0,0,.7);
  color:#fff;
  border-radius: 16px;
  text-align:center;
}

.contact-box p{
  margin: 4px 0;
}

.social{
  margin-top: 10px;
}

.copy{
  margin-top: 10px;
  opacity:.8;
  font-size: 13px;
}

