.dmt-hero{
  height: 50vh;                     /* ⬅ half page */
  background-image: url('C:/Angular-20(intership)/Gym-Sub-Management/src/assets/image/gb-botanica-gym-link-spaces-slough-1536x1024.jpg');
  background-size: cover;            /* full fit */
  background-position: center;       /* proper alignment */
  background-repeat: no-repeat;      /* stop repeating */
  display:flex;
  align-items:center;
  justify-content:center;
  color:#fff;
  font-size:28px;
  font-weight:700;
  letter-spacing:1px;
}

h2{
  color: #d1511a;
  font-style: italic;
}


.dmt-card p{
  margin-top:8px;
  line-height:1.4;
}
.features-section{
  margin-top:25px;
  background:#e7d7d7;
  padding:18px;
  border-radius:14px;
  color:#0c0c0c;
}

.features-section ul{
  padding-left:18px;
  line-height:1.6;
}


.trainer-page{
  padding:20px;
  background:#0f0f0f;
  color:#fff;
}

.card-list{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
  margin-top:15px;
}

.trainer-card{
  background:#1f1f1f;
  padding:14px;
  border-radius:14px;
  text-align:center;
  cursor:pointer;
  transition:.3s;
}

.trainer-card:hover{
  transform:scale(1.04);
  box-shadow:0 0 18px #cee4e2;
}

.trainer-card.active{
  border:2px solid #00ffc8;
  box-shadow:0 0 25px #00ffe6;
}

.avatar{
  width:55px;
  height:55px;
  background:#00ffc8;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto;
}

.tags span{
  background:#00000066;
  padding:4px 8px;
  border-radius:10px;
  margin:3px;
}

.selected-box{
  margin-top:15px;
  background:#1c1c1c;
  padding:12px;
  border-radius:10px;
}
/* Gym Information */
.info-section{
  margin-top:20px;
  background:#1c1c1c;
  padding:16px;
  border-radius:14px;
}

.info-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
  margin-top:10px;
}

.info-box{
  background:#c1dc5f;
  padding:10px;
  border-radius:10px;
  text-align:center;
}

/* Footer */
.gym-footer{
  margin-top:20px;
  text-align:center;
  background:#deb0f0;
  padding:14px;
  border-radius:14px;
}

.footer-title{
  margin-bottom:8px;
  font-weight:600;
}

.social-icons span{
  font-size:26px;
  margin:0 8px;
  cursor:pointer;
  transition:.3s;
}

.social-icons span:hover{
  transform:scale(1.2);
  color:#00ffc8;
}

.copy{
  margin-top:8px;
  opacity:.8;
  font-size:13px;
}

