.page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  padding: 30px;
}

/* LEFT SECTION */
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card, .list-card, .info-box {
  background: rgba(255,255,255,.85);
  padding: 22px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
  backdrop-filter: blur(8px);
}

.form-group { margin-bottom: 10px; }

input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #777;
}

button {
  width: 100%;
  padding: 10px;
  background: #128c7e;
  color: white;
  border-radius: 6px;
  border: none;
}
button:hover { background:#0f6e63; }

/* RIGHT SIDE INFO PANEL */
.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-box h2 {
  margin-bottom: 10px;
}

.info-box ul {
  padding-left: 15px;
}

.quote {
  margin-top: 10px;
  font-style: italic;
  color: #444;
}

/* IMAGE BOX */
.gym-image {
  height: 260px;
  border-radius: 14px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* First Image */
.gym-image {
  background-image: url('C:/Angular-20(intership)/Gym-Sub-Management/src/assets/image/pexels-willpicturethis-1954524.jpg');
}

/* Second Image */
.second-image {
  margin-top: 10px;
  background-image: url('C:/Angular-20(intership)/Gym-Sub-Management/src/assets/image/gb-botanica-gym-link-spaces-slough-1536x1024.jpg'); /* <-- दुसरी image */
}

/* MOBILE VIEW */
@media(max-width: 900px){
  .page {
    grid-template-columns: 1fr;
  }
}
