.page {
  display: flex;
  gap: 30px;
  padding: 30px;
  background: #f0f2f5;
  min-height: 100vh;
}

.card, .list-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 350px;
}

h2, h3 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #25d366;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1da851;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #128c7e;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

.name {
  font-weight: 600;
}

.details {
  font-size: 13px;
  color: gray;
}
.gender-row {
  display: flex;
  align-items: center;
  gap: 15px;
  
}
 .gender-row text{
    display: flex;
    justify-content: center;
 }
